name: test

on:
  push:

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: '1'
  FORCE_COLOR: '1'

jobs:
  static_analysis:
    name: Static analysis of the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Run linters
        run: hatch run check

  tests:
    name:
      Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' ||
      startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9']

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Run tests
        run: hatch run +py='${{ matrix.python-version }}' test:pytest
